body {
	width: 100%;
}

#nav_bar {
	background-color: white;
	border-bottom: solid #cfcfcf 3px;
	width: 100%;
	position: fixed; /* May decide agaisnt this later */
}

#name {
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #4aaaa5;
	color: white;
	font-size: 220%;
	font-weight: bold;
	padding: 25px;
	margin-left: 105px;
	margin-top: 0px;
	position: relative;
	width: 380px;
}

ul {
	list-style-type: none;
	position: relative;
/*	margin: 0;
	padding: 0; */
}

li {
	float: left;
	text-align: center;
}

li a {
	float: right;
	display: block;
	width: 105px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	font-size: 150%;
	padding: 5px 25px;
	text-decoration: none;
	margin-top: 52px;
}

#navBarBorders {
	border-right: solid #dddddd 2px;
	border-left: solid #dddddd 2px;
}

li a:link {
	text-decoration: none; /* This and the other a.xxx do not seem to be effectual */
}

li a:visited {
	text-decoration: none;
}

li a:hover {
	text-decoration: none;
	background-color: #4aaaa5;
	color: white;
}

/*
.active {
	background-color: #777777;
	color: white;
}
*/

#main {
	background-image: url(../images/Pentagon_Merged_3.jpg); /* May require "" around the relative location */
	clear: both; /* May not be needed */
}

#content {
	margin:36px 105px;
	width: 960px;
	border: solid #dddddd 2px;
	background-color: white;
}

#myPic {
	
}

#AboutMe {
	width: 650px;
	padding: 35px;
}

#Bio-text {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	font-size: 150%;
}

#About {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-size: 300%;
	font-weight: bold;
	margin-bottom: 35px;
	border-bottom: solid #dddddd 5px;
	padding-bottom: 35px;
}

#Connect {
	width: 270px;
}

#connectWithMe {
	color: #4aaaa5;
}

#footer {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 60px;
	border-top: 5px;
	clear: both; /* May not be needed */
}